<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

    <body>

        <div th:fragment="userInfo">
        
            <div class="header">
				<p th:unless="${currentUserConnection == null}" class="header-text">
	                <a th:if="${currentUserConnection.providerId == 'facebook'}" class="ml btn btn-social-icon btn-sm btn-facebook">   <i class="fa fa-facebook"></i></a>
	                <a th:if="${currentUserConnection.providerId == 'github'}"   class="ml btn btn-social-icon btn-sm btn-github">     <i class="fa fa-github"></i></a>
	                <a th:if="${currentUserConnection.providerId == 'google'}"   class="ml btn btn-social-icon btn-sm btn-google-plus"><i class="fa fa-google-plus"></i></a>
	                <img th:src="${currentUserConnection.imageUrl}" width="32" height="32" />
	                <a th:href="${currentUserConnection.profileUrl}" class="navbar-link"><span th:text="${currentUserDisplayName}"/></a>                                
	            </p>
				<form method="POST" th:action="@{/logout}" class="header-form">
	                <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
	                <button>Logout</button>
	            </form>
		    </div>
		    
        </div>

    </body>
</html>