<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Spring Social Login</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<div th:if="${param.logout}" class="alert alert-info">You have been logged out</div>
		<div th:if="${param.error}" class="alert alert-danger">There was an error, please try again</div>

		<h1 class="col-sm-12">Login</h1>
		
		<div class="col-sm-12">
	        <table style="border-collapse: separate; border-spacing: 2px">
                <tr>
                    <td><a th:href="@{/auth/linkedin}" class="ml btn btn-block btn-social btn-sm btn-linkedin"><i class="fa fa-linkedin"></i>LinkedIn</a></td>
                    <td><a th:href="@{/auth/facebook}" class="ml btn btn-block btn-social btn-sm btn-facebook"><i class="fa fa-facebook"></i>Facebook</a></td>
                </tr>
                <tr>
                    <td><a th:href="@{/auth/github}" class="ml btn btn-block btn-social btn-sm btn-github"><i class="fa fa-github"></i>Github</a></td>
                    <td><a th:href="@{/auth/google(scope='profile')}" class="ml btn btn-block btn-social btn-sm btn-google-plus"><i class="fa fa-google-plus"></i>Google+</a></td>
                </tr>
            </table>
		</div>
		
		
	</div>
</body>
</html>