<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Output</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
	<link rel="stylesheet" th:href="@{/css/jquery-ui-1.10.3/smoothness/jquery-ui-1.10.3.custom.css}"
		href="../../css/jquery-ui-1.10.3/smoothness/jquery-ui-1.10.3.custom.css" />	
	<script type="text/javascript" th:inline="javascript" th:src="@{/js/jquery-1.9.1.js}"></script>
	<script type="text/javascript" th:inline="javascript" th:src="@{/js/jquery-ui-1.10.3.custom.js}"></script>
	<script type="text/javascript" th:inline="javascript" th:src="@{/js/script.js}"></script>	
	<script type="text/javascript" th:inline="javascript" th:src="@{/js/fb.js}"></script>
</head>

<body>	
	
	<div class="page">
	
		<div class="header">
			<div th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</div>
			<form th:action="@{/logout}" method="post" class="buttons">
		    	<input type="submit" value="Sign Out"/>
		    </form>
	    </div>
	    
	    <form method="post" action="#" th:action="@{/output/handle-button-back}" th:object="${command}">
			<div id="title" class="title"><h2>Hello World</h2></div>
			<div id="subtitle" class="subtitle"><h3>Page: Output</h3></div>
			<div id="content" class="content">
				<div class="contentElement">
					<div>&nbsp;</div>
					<div id="name" class="textOutput"> <span>Hello World</span> <b th:text="*{name}"></b> </div>
					<div class="image"><img id="duke" alt="duke" th:src="@{/images/duke.jpg}"/></div>
				</div>
				
			</div>
			<div id="buttons" class="buttons">
				<input type="submit" id="back" name="back" value="Back" title="Go back to previous page"/>
			</div>
		</form>	
	</div>
	
</body>

</html>