<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Output</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"></link>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>	
</head>

<body>

	<form method="post" action="#" th:action="@{/output/handle-button-back}" th:object="${command}">
		<div class="container">
			<div id="title"><h2>Hello World</h2></div>
			<div id="subtitle"><h3>Page: Output</h3></div>
			<div id="content">
				<div>
					<div>&nbsp;</div>
					<div id="name"> <span>Hello World</span> <b th:text="*{name}"></b> </div>
					<div><img id="duke" alt="duke" th:src="@{/images/duke.jpg}"/></div>
				</div>
				
			</div>
			<div id="buttons">
				<input type="submit" id="back" name="back" value="Back" title="Go back to previous page"/>
			</div>
		</div>
	</form>	

</body>
</html>